
.mockup_inner_02 { 
    width: 100%; 
    aspect-ratio: 2.2 / 5;
    background-color: #05080c; 
    border-radius: 4px; 
    position: relative; 
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}